# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sql
scrape.py

# Virtual environment
venv/
.env/
.venv/
ENV/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Flask specific
instance/
.flaskenv

# Jupyter Notebooks
*.ipynb_checkpoints/

# macOS
.DS_Store
