<h1>Search for a Player</h1>

<div id="player-search" class="search-form">
    <form action="/players" method="GET">
        <input type="text" name="player_name" placeholder="Enter player name">
        <button type="submit">Search</button>
    </form>

    {% if players %}
        <table border="1">
            <tr>
                {% for column in players[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for player in players %}
            <tr>
                {% for value in player %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% elif request.args.get('player_name') %}
        <p>No player found matching '{{ request.args.get('player_name') }}'.</p>
    {% endif %}
</div>
